.collection-preview {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    // height:auto;
  
    grid-gap: 2rem;




    // display: flex;
    // justify-content: space-evenly;
    // flex-direction: column;
    // margin-bottom: 30px;
  

  
    // .preview {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }